/* @import "tailwindcss"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*
* {
    font-size: medium;
    border: none;
}
html, body {
    max-width: 100vw;
    height: 100vh; 
    margin: 0;
    padding: 0px;
}

:root {
    --main-bg: red;
    --outline: blue;
    --primary-button: yellow;
}

.primary_button {
    min-width: 50px;
    height: 30px;
    padding: 5px;
    margin: 3px;
    background-color: var(--primary-button)
}
.primary_button:hover {
    opacity: 0.8;
}
*/
